body {
    margin: 0;
    text-align: center;
}

.header {
    background-color: blueviolet;
    padding: 5%;
}

.main {
    background-color: chartreuse;
    padding: 5% 0;
}

h1 {
    font-size: 64px;
}
p {
    font-size: 18px;
}
